@model netprojektet.Models.ViewModels.ProfileProjectViewModel


<header>

    <h1>LinkedUT</h1>

</header>
<input type="text" />
<button type="button">Sök profiler</button>



<div class="text-center">
    <div>
        <table class="table">
            @{
                <h2>Profiler i urval</h2>
                
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                </tr>
                foreach (var item in Model.profiles)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        
                    </tr>
                }

            }

        </table>
        <div>
                <h4>Det senaste tillagda projekt</h4>
            @{
                if (Model.project == null)
                {
                    <P>Det finns inga projekt att visa </P>               
                }
			    else{<p>@Model.project.Title</p>}
            
            }
        </div>

        <a asp-action = "Project" >Se alla projekt</a>
           

    </div>
</div>
