@model List<netprojektet.Models.DataLayer.Profile>


<header>

    <h1>LinkedUT</h1>

</header>
<input type="text" />
<button type="button">Sök profiler</button>



<div class="text-center">
    <div>
        <table class="table">
            @{
                <caption>Profiler i urval</caption>
                
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                </tr>
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        
                    </tr>
                }

            }

        </table>

    </div>
</div>
