@model Models.ProfileProjectViewModel


<header>

    <h1>LinkedUT</h1>

</header>
<form asp-action="Search" method="post">
    <input type="text" name="Query" placeholder="Skriv namn här"/>
    <button type="submit">Sök</button>
</form>


<div class="text-center">
    <div>
        <table class="table">
            @{
                <h2>Profiler i urval</h2>
                
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                </tr>
                foreach (var item in Model.profiles)
                {
                    <tr>
                        <td>
                            <a asp-controller="Profile" asp-action="Profile" asp-route-profileID="@item.Id">@item.FirstName</a>
                        </td>

                        <td>@item.LastName</td>
                        
                    </tr>
                }

            }

        </table>
        <div>
                <h4>Det senaste tillagda projekt</h4>
            @{
                if (Model.senasteProject == null)
                {
                    <P>Det finns inga projekt att visa </P>               
                }
			    else{<p>@Model.senasteProject.Title</p>}
            
            }
        </div>

        <a asp-controller="Project" asp-action = "Project" >Se alla projekt</a>
           

    </div>
</div>
