@model List<netprojektet.Models.DataLayer.Profile>

<div class="text-center">
    <h1>test</h1>
    <div>
        <table class="table">
            @{
                <caption>Böcker</caption>
                <tr>
                    <th>Namn</th>
                    <th>beskrivning</th>
                </tr>
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        
                    </tr>
                }

            }

        </table>

    </div>
</div>
