
@{
    ViewData["Title"] = "Message";
}

<h1>Meddelanden</h1>

<div class="text-center">
    <div>
        <table class="table">
            
                <tr>
                    <th>Avsändare</th>
                    <th>Rubrik</th>
                    <th>Innehåll</th>
                    <th>Läst</th>

                
                 </tr>
              
                    <td> peter </td>
                    <td>hhhh</td>
                    <td>Content</td>
                    <td>
                        <input type="checkbox" onclick="MarkAsRead(this)" checked='<%= IsRead %>'/>
                        <script>
                                function MarkAsRead(checkbox){
                                    IsRead = checkbox.checked;
                                }
                        </script>

                    </td>
                    

                
             
                
                
    </div>
    </div>
