@model List<Message>


<h1>Meddelanden</h1>

<div class="text-center">
    <div>
        <table class="table">
            
                <tr>
                    <th>Avsändare</th>
                    <th>Rubrik</th>
                    <th>Innehåll</th>
                    <th>Läst</th>

                
                 </tr>
            @{
                foreach(var item in Model)
                {
                    <tr>
                    <td>@item.SenderName</td>
                    <td>@item.Title</td>
                    <td>@item.Content</td>
                   
                        <td>
                     
                            <input type="checkbox" onclick="MarkAsRead(this)" checked="@item.Seen"/>

                        </td>
                    
                    
                    </tr>


                }
                
            }
                    

                
             
                
                
    </div>
    </div>
