<div class="d-flex flex-column align-items-center text-center mt-5">
    <p><b>Användarnamn:</b> @User.Identity.Name</p>
<form asp-action="ChangePassword">
<button class="btn btn-info" type="submit">Byt Lösenord</button>
</form>
    <form asp-action="DeactivateAccount">
        <button class="btn btn-info" type="submit">Avaktivera konto</button>
    </form>
</div>