@model netprojektet.Models.DataLayer.Profile

<form asp-action="AddProfile" method="post">
    <table class="table table-ligt">
        <tr>
            <td>
                <label>Förnamn</label>
                <input asp-for="FirstName" typeof="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Efternamn</label>
                <input asp-for="LastName" typeof="text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label>
                <input asp-for="Email" typeof="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Bild Url</label>
                <input asp-for="PicUrl" typeof="text" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.CheckBoxFor(m => m.Private)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Spara" class=""
            </td>
        </tr>
    </table>
</form>