<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkedUT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/netprojektet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

@{    

    if(User.Identity.IsAuthenticated)
    {
    <header class="headerInloggad">

		<div> <a class="button-goofy" asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
                
        <a class="button-goofy" asp-area="" asp-controller="Profile" asp-action="Profile" asp-route-profileID="-1" Method="Get">Min Profil</a> 


		<a class="button-goofy" asp-area="" asp-controller="Project" asp-action="Project" Method="Get">Projekt</a>

      
     <form asp-controller="Home" asp-action="Search" method="post">
                        <input type="text" name="Query" placeholder="Skriv namn här" />
                        <button type="submit">Sök</button>
                    </form>
    



		<div></div>
		
                       
        <a class="button-goofy" asp-controller="Message" asp-action="Message">@ViewBag.Meddelanden</a>
            <div> <a class="button-goofy" asp-area="" asp-controller="Account" asp-action="Account">Mitt Konto</a></div>
                                

        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post))
		{	
        <button class="button-goofy" type="submit">Logga Ut</button>
        }

				

	</header>
    }
    else
    {

    <header class="headerUtloggad">

        <div> <a class="button-goofy" asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
  

        <a class="button-goofy" asp-area="" asp-controller="Project" asp-action="Project" Method="Get">Projekt</a>

            
        <div></div>


                @using (Html.BeginForm("LogIn", "Account", FormMethod.Get))
                {

                    <!-- form fields go here -->
                    <button class="button-goofy" type="submit">Logga in</button>


                }
        
	    
	</header>

 }
 }
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
