@model Project
<form asp-action="UpdateProject" method="post">

    <table class="table table-light">
       
        <tr>
            <td>
                <label>Titel</label>
                <input asp-for="Title" type="text" />

            </td>
        </tr>
        <tr>
            <td>
                <label>Beskrivning</label>
                <input asp-for="Description" type="text" />
            </td>
        <tr>
            <td>
               
                <input type="submit" value="Spara" class="btn-primary" />
            </td>
        </tr>
    </table>
    <input asp-for="Id" hidden />

</form>