html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.button-goofy {
    --c: #fff;
    /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat, #004dff;
    /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0 var(--c), calc(var(--_i,-1)*-0.08em) .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
}

.button-goofy:hover,
.button-goofy:focus-visible {
        --_p: 0%;
        --_i: 1;
    }

.button-goofy:active {
        text-shadow: none;
        color: var(--c);
        box-shadow: inset 0 0 9e9q #0005;
        transition: 0s;
    }

.button-goofy {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
}

.headerInloggad {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: grey;
    z-index: 1;
}

.headerUtloggad {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: grey;
    z-index: 1;
}