@model Profile
<form asp-action="RegisterProfile" method="post">

    <table class="table table-light">
        <tr>
            <td>
                <label>Förnamn</label>
                <input asp-for="FirstName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Efternamn</label>
                <input asp-for="LastName" type="text" />
            </td>
        </tr>
    
         <tr>
            <td>
                <label>Privat profil?</label>
                <input type="checkbox" name="Private" value="true" />
            </td>
        </tr>
        <tr>
            <td>
                
                <input type="submit" value="Spara" class="btn-primary" />
            </td>
        </tr>
    </table>

</form>

<form asp-action="RegisterProfile" method="post">
    <div class="form-group">
        <label for="formGroupExampleInput">Förnamn</label>
        <input asp-for="FirstName" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Efternamn</label>
        <input asp-for="LastName" class="form-control" type="text" />
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Epost</label>
        <input asp-for="Email" class="form-control" type="text" />
    </div>
    <div class="form-group">
    <label>Privat profil?</label>
    <input asp-for="Private" type="checkbox" />
    </div>
    <div class="form-group mb-4 mt-1">
        <input type="submit" value="Spara" class="btn btn-success" />
    </div>
</form>


